name: test
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: python -m pip install --upgrade pip
      - run: pip install pytest
      - run: pytest -q